<div id="centrality-modal" class="modal">
    <div class="modal-content">
        <h4>{{user.name}}</h4>
        <div class="row valign-wrapper">
            <div class="col s4">
                <img src="{{user.avatarUrl}}" class="circle responsive-img">
            </div>
            <div class="col s8">
                <ul>
                    <li>
                        <strong>Betweenness centrality:</strong> {{centralityMeasures.betweenness}}
                    </li>
                    <li>
                        <strong>Normalized betweenness centrality:</strong> {{centralityMeasures.normBetweenness}}
                    </li>
                    <li>
                        <strong>Degree centrality:</strong> {{centralityMeasures.degree}}
                    </li>
                    <li>
                        <strong>Normalized degree centrality:</strong> {{centralityMeasures.normDegree}}
                    </li>
                    <li>
                        <strong>Closeness centrality:</strong> {{centralityMeasures.closeness}}
                    </li>
                    <li>
                        <strong>Normalized closeness centrality:</strong> {{centralityMeasures.normCloseness}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>